     <div  class="row">
        <div class ="panel panel-default">
    			<div class="panel-heading">                   
       				<h2> {{note.title}}  <small>{{note.categorie}}</small></h2>
    			</div>

    			<div class="panel-body">{{note.contenue}}</div>
    				<div class="panel-footer">
        				<button class="btn btn-primary" (click)="modifying=true">Modifier</button>

        				<!--<button class="btn btn-danger"(click)="DelNote(OneNote)">Supprimer</button>-->
        				<em class="pull-right">{{note.date}}</em>
            </div>
    	</div>
     </div>    
