
<div class="row">
	<div class ="form_group">
		<label> Titre </label>
		<input [(ngModel)]="noteEdit.title" type="text" class="form-control">
	</div>
	<div class ="form_group">
		<label> Contenu </label>
		<input [(ngModel)]="noteEdit.content" type="text" class="form-control">
	</div>
	<div class="form_group">
		<label> Catégorie </label>
		<select class="form-control" [(ngModel)]="noteEdit.category"> 
			<option *ngFor="let category of categories"  [ngValue]="category">{{category.label}}</option>
		</select>
	</div>
	
	<div class="form_group">
	<br/>	
		<div class="pull-right">
				<button role="button" class="btn btn-success" (click)="SaveNote(noteEdit)"><i class="fa fa-book" aria-hidden="true"></i>&nbsp; sauver</button>
		</div>
	</div>

</div>